.form {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  @include pc_display {
    display: grid;
    grid-template-columns: 35% 65%;
  }
  &__formHeader {
    grid-column: 1/2;
    background-image: url('../../assets/bg-main-mobile.png');
    @include pc_display {
      background-image: url('../../assets/bg-main-desktop.png');
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__container {
      height: 100%;
      min-height: 240px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }
  }
  &__fieldsBlock {
    margin-top: 115px;
    @include pc_display {
      grid-column: 2/3;
      margin: auto 0;
    }
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 26px;
      @include pc_display {
        gap: 28px;
      }
    }
  }

  &__formBlock {
    width: 100%;
    max-width: 381px;
    position: relative;
    @include tablet_display {
      width: 64%;
    }
    &__field {
      display: flex;
      flex-direction: column;
      gap: 9px;
      & label {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      & input {
        width: 100%;
        flex: 1 1 auto;
        border: 1px solid #dfdee0;
        border-radius: 8px;
        background-color: $white;
        padding: 11px 16px 11px 16px;
        &::placeholder {
          font-size: 18px;
          font-weight: 500;
          color: $lightGreyishViolet;
        }
        &:focus {
          border-image-source: linear-gradient(
            112deg,
            #6348fe -27%,
            #610595 5%
          );
          border-image-slice: 1;
          background-image: linear-gradient(to bottom, #fff, #fff),
            linear-gradient(112deg, #6348fe -27%, #610595 5%);
          background-clip: padding-box, border-box;
        }
      }
    }
    &__rowField {
      position: relative;
      &:nth-child(1) {
        grid-column: 1/2;
      }
      &:nth-child(2) {
        grid-column: 2/3;
      }
      &:nth-child(3) {
        grid-column: 3/4;
      }
    }
  }
  &__submit {
    color: $white;
    max-width: 381px;
    background-color: $veryDarkViolet;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 53px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    cursor: pointer;
    @include tablet_display {
      width: 64%;
    }
  }
  &__rowBlock {
    display: grid;
    grid-template-columns: 25% 25% 1fr;
    grid-column-gap: 8px;
  }
}

.imageBack {
  z-index: 0;
  position: absolute;
  top: 16%;
  right: 50%;
  transform: translateX(50%);
  @include tablet_display {
    top: 9%;
  }
  @include pc_display {
    bottom: 21%;
    top: unset;
    right: 0;
    left: unset;
  }
}
.imageFront {
  z-index: 1;
  position: absolute;
  bottom: -48px;
  left: 40%;
  transform: translateX(-50%);
  @include tablet_display {
    bottom: -78px;
  }
  @include pc_display {
    bottom: unset;
    right: unset;
    top: 21%;
    left: 85%;
  }
}

.formError {
  color: $inputErrorColor;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  bottom: -18px;
  left: 0;
}
