.card {
  position: relative;
  &__image {
    width: 285px;
    height: auto;
    max-inline-size: unset;
    max-block-size: unset;
    @include tablet_display {
      width: 340px;
      height: auto;
    }
    @include pc_display {
      width: 447px;
      height: auto;
    }
  }
  &__logo {
    position: absolute;
    top: 19px;
    left: 19px;
    max-height: 30px;
    @include tablet_display {
      max-height: 40px;
    }
    @include pc_display {
      max-height: 45px;
    }
    @include pc_display {
      max-height: 47px;
    }
  }
  &__number {
    position: absolute;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    bottom: 48px;
    display: flex;
    justify-content: center;
    left: 50%;
    width: 85%;
    transform: translateX(-50%);
    letter-spacing: 2.2px;
    @include tablet_display {
      font-size: 22px;
    }
    @include pc_display {
      font-size: 28px;
      bottom: 70px;
    }
  }

  &__cvc {
    position: absolute;
    color: #fff;
    font-size: 9px;
    font-weight: 500;
    top: 49%;
    transform: translateY(-49%);
    right: 32px;
    letter-spacing: 2.2px;
    @include tablet_display {
      font-size: 13px;
      top: 48%;
      right: 37px;
      transform: translateY(-48%);
    }
    @include pc_display {
      font-size: 14px;
      right: 57px;
    }
  }

  &__holderInfo {
    position: absolute;
    color: #fff;
    font-size: 9px;
    letter-spacing: 1.29px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    @include tablet_display {
      font-size: 12px;
      bottom: 22px;
    }
    @include pc_display {
      font-size: 14px;
      bottom: 26px;
    }
  }
}
