@mixin hover {
  @media (any-hover: hover) {
    @content;
  }
}

@mixin pc_display {
  @media (width >= 1440px) {
    @content;
  }
}

@mixin tablet_display {
  @media (width >= 767px) {
    @content;
  }
}

// change display width to needed values

$inputErrorColor: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$lightGreyishViolet: hsl(270, 3%, 87%);
$DarkGreyishViolet: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);
